@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom fonts */
@font-face {
  font-family: "editorsNoteNormal";
  src: local("Editors-Note"),
    url("./assets/fonts/EditorsNote-Regular.otf") format("truetype");
}

@font-face {
  font-family: "editorsNoteItalic";
  src: local("Editors-Note"),
    url("./assets/fonts/EditorsNote-Italic.otf") format("truetype");
}

@font-face {
  font-family: "FontSpring";
  src: url("./assets/fonts/Fontspring-DEMO-argentcf-light.otf")
    format("truetype");
  font-weight: 300;
  /* Light */
  font-style: normal;
}

@font-face {
  font-family: "FontSpring";
  src: url("./assets/fonts/Fontspring-DEMO-argentcf-lightitalic.otf")
    format("opentype");
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }

  .homepage-testimonial-slider .swiper-pagination-bullet-active {
    @apply bg-white scale-110;
  }

  .homepage-testimonial-slider.swiper-pagination-bullet {
    @apply bg-transparent;
  }

  .accordion-trigger .accordion-plus {
    @apply block;
    animation: rotating90 0.3s linear;
  }

  .accordion-trigger .accordion-minus {
    @apply hidden;
    animation: rotating180 0.3s linear;
  }

  .accordion-trigger[data-state="open"] .accordion-minus {
    @apply block;
    animation: rotating180 0.3s linear;
  }

  .accordion-trigger[data-state="open"] .accordion-plus {
    @apply hidden;
    animation: rotating90 0.3s linear;
  }

  @keyframes rotating180 {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes rotating90 {
    /* Fixed from @keyframe to @keyframes */
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(90deg);
    }
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .TravelExploreCard:before,
  .travel-cta:before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-black-transparent z-[-1];
  }

  .TravelExploreCard:after {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-black-transparent2 z-[-1] opacity-0 duration-500 ease-in-out;
  }

  .TravelExploreCard:hover:after {
    @apply opacity-100;
  }

  .TravelExploreCard:hover .front {
    @apply scale-0 opacity-0;
  }

  .TravelExploreCard .back {
    @apply scale-0 opacity-0;
  }

  .TravelExploreCard:hover .back {
    @apply scale-100 opacity-100;
  }

  .title--xxl {
    @apply text-[25px] xs:text-[28px] sm:text-[32px] lg:text-[40px] 2xl:text-[54px] font-medium text-[#004265] font-editorsNoteNormal leading-normal;
  }

  .btn-common {
    @apply inline-block px-5 py-2 sm:px-10 sm:py-3 lg:py-[19px] lg:px-[62px] bg-secondary rounded-[5px] text-sm font-medium text-white border-[2px] border-secondary duration-200 ease-in-out hover:bg-white hover:text-secondary hover:border-white font-inter;
  }

  .activites--card:hover img {
    @apply scale-[1.1];
  }
  /* {all dangerous html design started here } */

  /* tour page banner setcion dangerous html */

  .tour-desc-hero {
    @apply flex flex-col gap-y-6 items-center justify-center;
  }
  .tour-desc-hero p {
    @apply text-white text-xl;
  }
  .tour-desc-hero p :nth-child(2) {
    @apply text-white text-lg lg:text-xl max-w-[1124px] text-center mx-auto;
  }

  /* tour descreption data */

  .tour-desc {
    @apply flex flex-col gap-y-3;
  }
  .tour-desc h2 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-editorsNoteNormal text-primary;
  }

  .tour-desc h2 > p span {
    @apply font-editorsNoteItalic;
  }

  .tour-desc p {
    @apply text-text-gray font-interTight text-base lg:text-lg;
  }

  .tour-desc p  {
    @apply font-interTight font-medium sm:text-lg lg:text-xl text-primary;
  }

  .tour-desc p > span strong p {
    @apply font-bold text-primary underline;
  }

  /* {all dangerous html design ended here} */
}

/* react tabs */
/* .react-tabs .react-tabs__tab-list {
  border-bottom: 2px solid rgba(128, 128, 128, 0.101);
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.react-tabs .react-tabs__tab-list .react-tabs__tab {
  padding: 10px 25px;
  color: #141414;
  font-weight: 500;

} */

/* .react-tabs .react-tabs__tab-list .react-tabs__tab:first-child {
  padding-left: 0;
} */

/* .react-tabs .react-tabs__tab-list .react-tabs__tab--selected {
  color: #01CC92;
  background: transparent !important;
  border: none !important;
} */

::-webkit-scrollbar {
  height: 0;
  width: 0px;
  scroll-behavior: smooth;
}
